body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1640px;
    margin: 0 auto;
    background-color: #EAEDF5;
    padding: 20px;
    box-sizing: border-box;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.upper-nav {
    font-size: 24px;
}

.lower-nav {
    display: flex;
}

.lower-nav-text li {
    list-style-type: none;
    margin-right: 20px;
}

.lower-nav-text li:last-child {
    margin-right: 0;
}

.cat-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cat {
    text-align: center;
}

.cat img {
    max-width: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.cat h2 {
    font-size: 24px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
